// Colores
$base-color: #594632;
$secondary-color: #dec8a9;
$text-color: #888;
$hover-bg: #bba482;
$strong-color: #594632;

// Fuentes
$font-family: Montserrat, sans-serif;
$font-weight: 400;

// Tiempos
$transition-time: 0.3s;